body{
    font-family: Arial!important;
    background: rgba(140,2,00,0.1);
}

.form-control:focus {
    box-shadow: none;
    border-color: rgba(140,2,00,0.8);
}

.profile-button {
    background: rgba(140,2,00,0.8);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgba(140,2,00,1)
}

.profile-button:focus {
    background: rgba(140,2,00,0.8);
    box-shadow: none
}

.profile-button:active {
    background: #ab1402;
    box-shadow: none
}

.back:hover {
    color: #ab1402;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgba(140,2,00,1);
    color: #fff;
    cursor: pointer;
    border: solid 1px rgba(140,2,00,0.8);
}